<mtapp:setting
    id="entry_sorter_interval_seconds"
    label="<__trans phrase="Interval Seconds">"
    hint="<__trans phrase="If newest entry date is 2017-01-09 22:16:00 and the interval is 3600, entries date will updated 2017-01-09 22:16:00, 2017-01-09 21:16:00, 2017-01-09 20:16:00, ...">"
    show_hint="1">
    <input type="text" name="interval_seconds" id="entry_sorter_interval_seconds_value" value="<mt:var name="interval_seconds" escape="html">" size="12" />
</mtapp:setting>
